.Execution-container {
    text-align: center;
    width: 100%;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    user-select: none;
    align-items: center;
}

.Back-button {
    position: absolute;
    width: 5%;
    height: 5%;

    min-width: 20px;
    min-height: 20px;

    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Input-field {
    background: #484848;
    color: whitesmoke;
    text-indent: 10px;
    font-size: 20px;

    width: 70%;
    height: 40px;
    margin: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 90px;
}

.Input-field-small {
    background: #484848;
    color: whitesmoke;
    text-indent: 10px;
    font-size: 20px;
    width: 20%;
    max-width: 65px;
    height: 40px;
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 90px;
}

.Popup-search-icon {
    position: relative;
    width: 50px;
    height: 15%;
    right: 12px;
    top: 10px;
}

.Popup-search-icon:hover {
    color: #cec70d;
    cursor: pointer;
}

.Popup-search-icon:active {
    color: #b3a900;
}

.Log-execution-button {
    position: absolute;
    width: 70%;
    height: 50%;
    right: -210px;
    top: 36px;
    background: #FFF500;
    color: black;
    border-radius: 100px;
    font-weight: bold;
}

.Exercise-popup-inner {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}

.Log-execution-button:hover {
    background: #cec70d;
    cursor: pointer;
}

.Execution {
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-left: 5px;
}

/* .Execution-pic {
    position: relative;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-color: lightyellow;
    border: 1px solid black;
    filter: drop-shadow(-11px 15px 10px rgba(0, 0, 0, 0.25));
    border-radius: 90px;
} */

.Execution-name {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 48px;
    text-align: center;
    margin-left: 10px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    display: inline-block;
    color: #FFFFFF;
}